github "Alamofire/Alamofire"
# github "Alamofire/AlamofireImage" ~> 2.0
github "johnsundell/unbox"
github "johnsundell/wrap"
github "realm/realm-cocoa"
# github "AFNetworking/AFNetworking" ~> 3.0
github "MailOnline/ImageViewer" 
